<!DOCTYPE html>
<html>
<head>
  <title>RubyBadger</title>
  <%= stylesheet_link_tag    "ruby_badger/application", :media => "all" %>
  <%= javascript_include_tag "ruby_badger/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
